@import "tailwindcss";
@import "./custom-font.css";
@import "./custom-theme.css";

html {
  scroll-behavior: smooth
}

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(32deg,rgba(78, 101, 255, 1) 28%, rgba(146, 239, 253, 1) 73%);
  filter: blur(5px);
  z-index: -1;
}